<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:dt="http://github.com/dandelion/datatables"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
 <head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{/wro/common.css}" />
	<script type="text/javascript" th:src="@{/wro/common.js}"></script>
 	<!-- 
   	<script th:replace="config/app :: content"></script>
	<script th:replace="config/ajax :: content"></script>
	<script th:replace="config/i18n :: content"></script>
	 -->
   	<!--[if lt IE 9]>
  		<script type="text/javascript" th:src="@{/wro/common-ie.js}"></script>
   	<![endif]-->
</head>
<body th:onLoad="${onLoad}">
	<script th:inline="javascript">
		/*<![CDATA[*/
	 		$(document).ready(function() {
	 			var userCallback = /*[[${onReady}]]*/;
				FunctionUtils.callFromString(userCallback);
			});
		/*]]>*/ 
	</script>
	<div th:replace="/fragments/header :: header">[HEADER]</div>
	<section layout:fragment="main-content">
		[CONTENT]
   	</section>
	<div th:replace="/fragments/footer :: footer">[FOOTER]</div>
  </body>
</html>