<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layouts/site/custom"
	th:with="pageTitle='Advanced Layout Page', 
	onLoad='LayoutController.onLoad();', 
	onReady='LayoutController.onReady();'">
<head>
	<title th:text="${pageTitle}">[PAGE TITLE]</title>
</head>
<body>
	<div layout:fragment="custom-page">
		<div layout:include="/layouts/page/custom :: custom-page" th:with="pageTitle='Custom Layout Sample'" th:remove="tag">
			<div layout:fragment="page-header">
				<div class="container">
					<div th:replace="/fragments/header/header :: header">[HEADER]</div>
				</div>
			</div>
			<div layout:fragment="page-content">
				<section class="container" id="tutu">
					<h1 th:text="${pageTitle}">[PAGE TITLE]</h1>
					<p>When you want special page, which redefined the top menu or the footer for example, you
						can use this advanced custom layout. You will have to redefine each part of the page but
						you still use a Page Layout, so you still can have many "special pages" of the same type.
						To do that, just play with fragment include, inside the custom page layout.
					</p>
				</section>
			</div>
			<div layout:fragment="page-footer">
				<footer>
					<div class="container">
						CUSTOM PAGE FOOTER !
					</div>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>
