/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* SORTABLE COMPONENT
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
.sortable-container { 
	float: left;
	min-height: 50px;
	padding: 0px;
	width: 100%;
}
.sortable-section.sortable-edit-mode .sortable-container {
	border: 2px dashed #d1d1d1;
	background: #F1F1F1;
}
.sortable-section.sortable-view-mode .sortable-close,
.sortable-section.sortable-fly-mode .sortable-close {
	display: none;
}
.sortable-section.sortable-fly-mode .widget-wrapper:hover .sortable-close {
	display: block;
}

.sortable-container > div {
	margin-bottom: 5px;
}
.sortable-section .row {
	margin-top: 20px;
}
.sortable-close {
	margin-right: 10px;
    margin-top: 10px;
}
.sortable-section .loader {
    margin: 30px;
    text-align: center;
}

