<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	
	<div th:fragment="widget">
		<div layout:include="/layouts/component/widget :: widget" th:with="widgetTitle='Text Widget'" th:remove="tag">
			<div layout:fragment="widget-body">
				<p>Text Widget content</p>
				<p>Widget id : <span th:text="${widget.id}"></span></p>
				<p>This widget is loaded in ajax with a thymeleaf fragment.</p>
			</div>
		</div>
	</div>
	
</body>
</html>
