/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* CSS FOR STANDARD SITE LAYOUT  
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

/* NO OUTLINE */
.btn, .btn:focus, .btn:active, a, a:active, .nav-tabs a, .panel-title > a {
	outline: none !important;
	text-decoration: none;
}

/* Keep the footer at the bottom of the screen */
#footer {
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
}