/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* DEFAULT CSS THEME
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

h1, h2, h3, input, textarea, button, select, option, label, optgroup {
    font-family: "Open Sans","Lucida Sans Unicode","Lucida Grande","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

#main > section {
	background-color: #F9F9F9;
	border: 1px solid #F0F0F0;
	border-radius: 3px;
}	
footer {
	color: #FFF;
	background-color: #112233;
}
.panel-default > .panel-heading {
	font-weight: bold;
}

/* PAGE SUBTITLE */
.page-sub-title {
	color: #5588aa;
	font-weight: bold;
    margin-top: -5px;
}
.page-sub-title:after {
    content: "}";
}
.page-sub-title:before {
    content: "{";
}
/* !PAGE SUBTITLE */
