<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:dt="http://github.com/dandelion/datatables"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="/layouts/site/standard">
<head>
</head>
<body>
	<div layout:fragment="main-content">
		<h1 th:text="${pageTitle}">[PAGE TITLE]</h1>
		<div layout:fragment="page-content">
			[PAGE CONTENT]
	   	</div>
	</div>
  </body>
</html>
