<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<section th:fragment="contact-us">
		<form id="contact-us-form" class="form-horizontal" method="post" th:action="${action}" th:object="${contactUsModel}">
			<p>Action : <span th:text="${formAction}"></span></p>
			<fieldset>
				<legend>Contact us</legend>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="model">Name</label>
					<div class="col-sm-10">
						<input class="form-control input-xxlarge" id="name" placeholder="Name"
							required="required" pattern="[a-zA-Z]+"
							onChange="FormValidator.resetValidation(this)"
							th:field="${contactUsModel.name}"
							th:onInvalid="'FormValidator.validate(this, \'' +  
								#{contact-us-form.name.empty} + '\',\'' + 
								#{contact-us-form.name.invalid} + '\');'"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="email">E-Mail</label>
					<div class="col-sm-10">
						<input class="form-control input-xxlarge" type="email" placeholder="E-Mail"
							required="required"
							th:field="*{email}"
							onChange="FormValidator.resetValidation(this)"
							th:onInvalid="'FormValidator.validate(this, \'' +  
								#{contact-us-form.email.empty} + '\',\'' + 
								#{contact-us-form.email.invalid} + '\');'"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="subject">Subject</label>
					<div class="col-sm-10">
						<input class="form-control input-xxlarge" id="subject" placeholder="Subject" 
							pattern="[a-zA-Z]+" required="required"
							th:field="*{subject}"
							onChange="FormValidator.resetValidation(this)"
							th:onInvalid="'FormValidator.validate(this, \'' +  
								#{contact-us-form.subject.empty} + '\',\'' + 
								#{contact-us-form.subject.invalid} + '\');'"></input>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label" for="message">Message</label>
					<div class="col-sm-10">
						<textarea class="form-control" id="message" name="message" placeholder="Message details" 
							required="required" rows="5"
							th:field="*{message}"
							onChange="FormValidator.resetValidation(this)"
							th:onInvalid="'FormValidator.validate(this, \'' +
								#{contact-us-form.message.empty} + '\',\'' + 
								#{contact-us-form.message.invalid} + '\');'"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Send message</button>
					</div>
				</div>
			</fieldset>
		</form>
	</section>
</body>
</html>