<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<section th:fragment="login">
		<form th:fragment="login" id="login-form" class="form-horizontal" method="post" th:action="${action}" th:object="${loginModel}">
			<input type="hidden" name="forward" th:value="${forward}"></input>
			<fieldset>
				<legend>Login Form</legend>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="login">Login</label>
					<div class="col-sm-10">
						<input class="form-control input-xxlarge" id="login" placeholder="Login"
							required="required" pattern="[a-zA-Z]+"
							onChange="FormValidator.resetValidation(this)"
							th:field="${loginModel.login}"
							th:onInvalid="'FormValidator.validate(this, \'' +  
								#{contact-us-form.name.empty} + '\',\'' + 
								#{contact-us-form.name.invalid} + '\');'"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="password">Password</label>
					<div class="col-sm-10">
						<input class="form-control input-xxlarge" type="password" id="password" placeholder="Password"
							required="required"
							onChange="FormValidator.resetValidation(this)"
							th:field="${loginModel.password}"
							th:onInvalid="'FormValidator.validate(this, \'' +  
								#{contact-us-form.email.empty} + '\',\'' + 
								#{contact-us-form.email.invalid} + '\');'"></input>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Login</button>
					</div>
				</div>
			</fieldset>
		</form>
	</section>
</body>
</html>