<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/page/page-a4"
	th:with="pageTitle='Home Page', pageSubTitle='Advanced Thymeleaf Demo', 
	onLoad='HomeController.onLoad();', 
	onReady='HomeController.onReady();'">
<head>
	<link rel="stylesheet" th:href="@{/assets/css/layout/site/default.css}" />
</head>
<body>

	<div layout:fragment="page-content">
	  	<div class="row">
			<div class="col-sm-12" layout:include="/layout/component/panel :: panel" th:with="panelTitle='Welcome Panel :)'">
		   		<div layout:fragment="panel-body">
		   			<p>Take a tour. Be aware that cache is fully disabled for development purpose 
		   				so each request take a little longer than usual.
		   			</p>
		   		</div>
		  	</div>
	  	</div>
	</div>
	
</body>
</html>
