<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/page/page-a4"
	th:with="pageTitle='Home Page', 
	onLoad='HomeController.onLoad();', 
	onReady='HomeController.onReady();'">
<head>
	<link rel="stylesheet" th:href="@{/assets/css/layout/site/default.css}" />
</head>
<body>

	<div layout:fragment="page-content">
	  	<div class="row">
			<div class="col-sm-12" layout:include="/layout/component/panel :: panel" th:with="panelTitle='Form Panel'">
		   		<div layout:fragment="panel-body">
		   			<p>Simple form HTML5 Validation</p>
		   			<form id="form" class="form-horizontal" th:action="@{/home}" th:object="${widget}" method="post">
						<fieldset>
							<p>COMING SOON :)</p>
							<p>contactUsModel.name : <span th:text="${contactUsModel.name}"></span></p>
						</fieldset>
					</form>	
		   		</div>
		  	</div>
	  	</div>
	  	<div class="row">
			<div class="col-sm-12" th:include="/fragment/form/contact-us"
				th:with="action=@{/form/contactUs}, model=${contactUsModel}, forward='/home'">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" th:include="/fragment/form/login" 
				th:with="action=@{/form/login}, model=${loginModel}, forward='/home'">
			</div>
		</div>
	</div>
	
</body>
</html>
