<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layouts/page/page-a4"
	th:with="pageTitle='Home Page', 
	onLoad='HomeController.onLoad();', 
	onReady='HomeController.onReady();'">
<body>

	<div layout:fragment="page-content">
	  	<div class="row">
			<div class="col-sm-12" layout:include="/layouts/component/panel :: panel" th:with="panelTitle='Form Panel'">
		   		<div layout:fragment="panel-body">
		   			<p>Simple form HTML5 Validation</p>
		   			<form id="form" class="form-horizontal" th:action="@{/home}" th:object="${widget}" method="post">
						<fieldset>
							<p>COMING SOON :)</p>
						</fieldset>
					</form>	
		   		</div>
		  	</div>
	  	</div>
	</div>
	
</body>
</html>
