<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layouts/page/page-a4"
	th:with="pageTitle='Home Page'">
<head>
</head>
<body>
	<div layout:fragment="page-content" >
		<div class="row">
			<div class="col-sm-6">
				<div layout:include="/layouts/component/widget :: widget" th:with="widgetTitle='Widget 1'" th:remove="tag">
					<p layout:fragment="widget-body">WIDGET 1 CONTENT</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div layout:include="/layouts/component/widget :: widget" th:with="widgetTitle='Widget 2'" th:remove="tag">
					<p layout:fragment="widget-body">WIDGET 2 CONTENT</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" layout:include="/layouts/component/panel :: panel" th:with="panelTitle='Home Panel'">
		   		<p layout:fragment="panel-body">SAMPLE CONTENT INCLUDED IN PANEL BODY</p>
		  	</div>
	  	</div>
	</div>
</body>
</html>
