<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layouts/page/page-a4"
	th:with="pageTitle='Home Page', onLoad='HomeController.onLoad();', onReady='HomeController.onReady();'">
<body>
	<div layout:fragment="page-content">
		<div class="row">
			<div class="col-sm-12">
				<p>This page use the 'page-a4' page layout which is included in 'standard' site layout.</p>
				<p>${page} : <span th:text="${page}"></span></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div layout:include="/layouts/component/widget :: widget" th:with="widgetTitle='Widget 1'" th:remove="tag">
					<div layout:fragment="widget-body">
						<p>WIDGET 1 CONTENT (use widget layout)</p>
						<p>This widget is directly loaded from this page</p>
						<button id="showModalBtn" type="button" class="btn btn-default">Show modal</button>
					</div>
				</div>
			</div>
			<div class="col-sm-6" id="widgetReceiver1">
				<button id="loadWidgetBtn" type="button" class="btn btn-default"
					onClick="HomeController.loadWidget('widgetReceiver1', '1');">Load Hello World Widget</button>
			</div>
			<div class="col-sm-6 .col-sm-offset-6" id="widgetReceiver2">
				<button id="loadWidgetBtn" type="button" class="btn btn-default"
					onClick="HomeController.loadWidget('widgetReceiver2', '2');">Load Text Widget</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" layout:include="/layouts/component/panel :: panel" th:with="panelTitle='Home Panel'">
		   		<p layout:fragment="panel-body">SAMPLE CONTENT INCLUDED IN PANEL BODY (use panel layout)</p>
		  	</div>
	  	</div>
	  	<div class="row">
	  		<div class="col-sm-12" layout:include="/layouts/component/modal :: modal" th:with="modalId='sampleModal', modalTitle='Home Modal'">
		   		<div layout:fragment="modal-body">
		   			<p>SAMPLE CONTENT INCLUDED IN WINDOW MODAL BODY (use modal layout)</p>
		   		</div>
		   		<div layout:fragment="modal-footer">
		   			<p>SPECIFIC MODAL FOOTER</p>
		   		</div>
		  	</div>
	  	</div>
	</div>
</body>
</html>
