<!DOCTYPE html>
<html 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/site/standard"
	th:with="onLoad=${onLoad}, onReady=${onReady}">
<head>
	<title th:text="${pageTitle}">[PAGE TITLE]</title>
</head>
<body>
	<section layout:fragment="main-content" class="container">
		<h1 th:text="${pageTitle}">[PAGE TITLE]</h1>
		<th:block th:if="${pageSubTitle != null}">
			<p class="page-sub-title" th:text="${pageSubTitle}">[PAGE SUBTITLE]</p>
		</th:block>
		<!-- 
			This div will directly display the status message if the message is on the model.
			This div can also be loaded with jquery/ajax ($messageReceiver.load)
		 -->
		<div id="messageReceiver">
			<th:block th:if="${message != null}">
				<div th:replace="/fragment/misc/alert :: alertDismissableAutoHide(type=${#strings.toLowerCase(message.type)}, message=${message.message})">
				</div>
			</th:block>
		</div>
		<div id="page-content" layout:fragment="page-content">
			[PAGE CONTENT]
	   	</div>
	</section>
  </body>
</html>
