<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<div th:fragment="widget" layout:include="/core/layout/component/widget :: widget" th:remove="tag">
		<div layout:fragment="widget-head" th:remove="tag">
			<div class="panel-heading" th:text="'Hello World Widget'">
			</div>
		</div>
		<div layout:fragment="widget-body">
			<p>Widget Hello World Content</p>
				<p>Widget id : <span th:text="${widget.id}"></span></p>
				<p>This widget is loaded in AJAX with a Thymeleaf fragment.</p>
				<p>In the Dashboard, this widget can only be dragged <strong>from anywhere</strong>.</p>
		</div>
	</div>
</body>
</html>
