


/* NO OUTLINE */
.btn, .btn:focus, .btn:active, a, a:active, .nav-tabs a, .panel-title > a {
	outline: none !important;
	text-decoration: none;
}


header {
}

section {
	background-color: #F2F2F2;
}

footer {
	color: #FFF;
	background-color: #112233;	
}
