<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/core/layout/page/page-a4"
	th:with="pageTitle='Account Page', onLoad='AccountController.onLoad();'">
<body>

	<div layout:fragment="page-content">
		<div class="row">
			<div class="col-sm-6">
				<p>ACCOUNT LIST : </p>
				<div th:each="account : ${accounts}">
					<p th:text="${account.fullName}"></p>
					<p th:text="${account.email}"></p>
				</div>
			</div>
			<div class="col-sm-6">
				<p>FORM</p>
			</div>
		</div>
		
	</div>

</body>
</html>
