<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/page/page-a4"
	th:with="pageTitle='Form Page', pageSubTitle='Managing Form Controller'">
<body>

	<div layout:fragment="page-content">
		<div class="row">
			<div class="col-sm-12">
				<h4>Post-Forward</h4>
				<p>This form has been created with a forward attribute : when the form is submited, Spring forward
					to this page controller. This is faster, but you will have to rewrite your URL.</p>
				<div th:include="/fragment/form/contact-us">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h4>Post-Redirect-Get</h4>
				<p>This form has been created with a redirect attribute : when the form is submited, Spring answer a redirect
					to the browser who will make a new request to this page. The URL will be as expected. This is the common
					way to do. The good stuff here is that we have a specific form controller, which is only linked to
					the form fragment, not the page which use this fragment.</p>
				<div th:include="/fragment/form/login">
				</div>
			</div>
		</div>
	</div>

</body>
</html>
