<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
	<!-- 
		Constraint : the modalId (DOM ID) must be the same as the file fragment name.
		This allow to call $("id").modal() (to show the modal) from JS by just one entry, here 'helloWorldModal'
	 -->
	<div layout:fragment="modal">
		<div layout:include="/layout/component/modal :: modal" th:with="modalId='helloWorldModal', modalTitle='Hellow World Modal'">
	   		<div layout:fragment="modal-body">
	   			<p>Hello World modal content</p>
	   			<p>This window modal is loaded in ajax.</p>
	   		</div>
	   		<div layout:fragment="modal-footer">
	   			<p>Hello World footer modal</p>
	   		</div>
	  	</div>
	</div>
	
</body>
</html>
