
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* CSS FOR STANDARD PAGE LAYOUT  
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

/* Add margin to the content because their is no bootstrap container */
body section:first-of-type {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
/* Ajusting content to stick with the top menu */
.navbar {
    margin-bottom: -20px;
}

