<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/page/page-a4"
	th:with="pageTitle='Dashboard', pageSubTitle='JQuery UI Sortable Demo', 
	onLoad='DashboardController.onLoad();', 
	onReady='DashboardController.onReady();'">
<head>
</head>
<body>

	<div layout:fragment="page-content">
		<div class="row">
			<div class="col-sm-12">
				<p>Let's play with this beautiful dashboard ! </p>
				<ul>
					<li>Mode management : View or Edit</li>
					<li>Dynamic load of any Thymeleaf fragment, let's call them widgets</li>
					<li>Dynamic configuration management : a simple JSON file retrieved in AJAX</li>
					<li>Non intrusive : no constraint on widget (type, id, class...)</li>
				</ul>
				<br/>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" style="margin-bottom: 10px;">
				<div class="btn-group" data-toggle="buttons">
					<label id="viewSortableBtn" class="btn btn-primary active">
				    	<input type="radio" name="options" autocomplete="off" checked="checked"></input>View
				  	</label>
				  	<label id="editSortableBtn" class="btn btn-primary">
					    <input type="radio" name="options" autocomplete="off"></input>Edit
				  	</label>
				</div>
				<button id="config1Btn" type="button" class="btn btn-info">Config 1</button>
				<button id="config2Btn" type="button" class="btn btn-info">Config 2</button>
			</div>
		</div>
	  	<div class="row">
			<div class="col-sm-12 sortable-toolbar">
				<button id="clearBtn" class="btn btn-default">Clear</button>
				<button id="saveBtn" class="btn btn-default">Save</button>
				<button class="btn btn-default"
					th:onClick="'javascript:DashboardController.addWidget(\'/widget/1\')'">Add HelloWorld widget</button>
				<button class="btn btn-default"
					th:onClick="'javascript:DashboardController.addWidget(\'/widget/2\')'">Add Text widget</button>
				<button class="btn btn-default"
					onClick="DashboardController.logTree();">Print Tree</button>
				<div style="float: right;">
					<div class="btn-group" data-toggle="buttons" style="float: right;">
					  <label id="layout1Btn" class="btn btn-primary active">
					    <input type="radio" name="options" autocomplete="off" checked="checked"></input>Layout 1
					  </label>
					  <label id="layout2Btn" class="btn btn-primary">
					    <input type="radio" name="options" autocomplete="off"></input>Layout 2
					  </label>
					</div>
				</div>
			</div>
		</div>
		<div class="sortable-section">
	  	</div>
	</div>
	
</body>
</html>
