<web-app 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

	<!-- Start here : http://localhost:8080/thymeleaf -->

	<!-- WEB RESOURCES OPTIMIZATION (wro4j) -->
	<filter>
	  <filter-name>WebResourceOptimizer</filter-name>
	  <filter-class>ro.isdc.wro.http.WroFilter</filter-class>
	</filter>
	<filter-mapping>
	  <filter-name>WebResourceOptimizer</filter-name>
	  <url-pattern>/wro/*</url-pattern>
	</filter-mapping>

    
</web-app>
