<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/wro/common.css}" />
	<link rel="stylesheet" th:href="@{/wro/common.js}" />
</head>
<body>
	<div class="container">
		<br /> <br /> <br />
		<p>Hello</p>
		<span th:text="${peripherique.nomModele}"></span>
		<!-- 	<div th:include="fragment/peripheriqueForm :: form" -->
		<!-- 		th:with="peripherique=${peripherique},tutu='aaaahhhhh'"> -->
		<!-- 	</div> -->

		<form id="peripherique" class="form-horizontal"
			th:action="@{/index}" th:object="${peripherique}" method="post">
			<fieldset>
				<!-- 
			  <div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" />
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
			    <div class="col-sm-10">
			      <input type="password" class="form-control" id="inputPassword3" placeholder="Password"  />
			    </div>
			  </div>
			   -->

				<div class="form-group">
					<label for="model" class="col-sm-2 control-label">Modele</label>
					<div class="col-sm-10">
						<input class="form-control" id="model" placeholder="Model"
							th:field="*{nomModele}"></input>
					</div>
				</div>
				<div class="form-group">
					<label for="aa" class="col-sm-2 control-label">AA</label>
					<div class="col-sm-10">
						<input class="form-control" id="aa" placeholder="aa"
							th:value="*{aa}" />
					</div>
				</div>
				<div class="form-group">
					<label for="bb" class="col-sm-2 control-label">BB</label>
					<div class="col-sm-10">
						<input class="form-control" id="bb" placeholder="bb"
							th:value="*{bb}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label> <input type="checkbox" /> Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Sign in</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>